/* Bar */
.bar {
    border-bottom: solid 1px gray;
    display: table;  
    width: 100%;
}

.barBlock {
    display: table-cell;
    height: auto;
    overflow: hidden;
}

.barLogo {
    height: 48px;
    width: 48px;
}

.logo {
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.menuSection {
    font-family: Segoe UI;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    width: 70%;
}

.menu {
    border-bottom: solid 8px transparent;
    display: inline-block;
    width: 100%;
}

.menuName {
    font-size: 20px;
    font-weight: bolder;
}

.menuItem {
    background-color: black;
    border-style: solid;
    border-color: white;
    color: lightgray;    
    display: inline-block;
    width: 30%;
}

.menuItem a:visited {
    color: white;
}

.menuMail {
    font-size: 10px;
}

.logout {
    background: gray;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
    width: 10%;
}

.logout a:visited {
    color: white;    
}

/* Content */ 
.content {
    border-top-color: gray;
    border-top-style: solid;
    display: inline-block;
    font-family: Segoe UI;
    font-size: 12px;
    width: 100%;
}

.mainSection {
    display: inline-block;
    width: 65%;
}

.productsSection {
    background-color: white;
    border-right: solid 2px gray;
    float: left;
    width: 20%;
}

.productsSection ul{
    list-style-type: none;  
    margin: 0;  
    padding: 0;
}

.productsSection ul li{
    background: lightgray;
    border-bottom: solid 2px black;
    color: black;
    margin-bottom: 4px;
    text-indent: 0px;
}

.sectionTitle {
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: bolder;
}

.apps {
    background-color: lightgray;
    float: right;
    width: 10%;
}

/* Footer */
.footer {
    font-family: Segoe UI;
    font-size: 8px;
    width: 100%;
}