/* Bar */
.bar {    
    background-color: lightgrey;
    display: inline-block;    
    width: 100%;
}

.logo {
    float: left;
    width: 30%;
}

.stuff {
    display: inline-block;
    width: 60%;
}

.logout {
    cursor: pointer;
    float: right;
    font-family: Segoe UI;
    font-size: 12px;
    text-decoration: underline;
    width: 10%;
}

/* Content */ 
.content {
    display: inline-block;
    font-family: Segoe UI;
    font-size: 12px;
    width: 100%;
}

.main {
    display: inline-block;
    width: 70%;
}

.menu {
    background-color: lightgray;
    float: left;
    width: 15%;
}

.apps {
    background-color: lightgray;
    float: right;
    width: 15%;
}

/* Footer */
.footer {
    font-family: Segoe UI;
    font-size: 8px;
    width: 100%;
}