body {
    margin: 0;                      /* reset body margin */
}

.author {
    --darkgray: #777;    
    --lightgray: #F4F4F4;
    --orange: #F74D24;
    --white: #FFFFFF;
    background-color: var(--orange);
    overflow: hidden;
}

.author-info {
    background: var(--white);
    float: left;
    width: 70%;
}

.author-menu {
    color: var(--white);
    /* float: left; */              /* this is to float 2 divs */
    position: fixed;
    top: 24px;
    left: 70%;
    width: 30%;
}

/* MENU CSS */
.author-cover img{
    width: 100%;
}

.author-data {    
    margin: 16px 0px 16px 0px;
    text-align: center;    
}

.img-circle {
    border-radius: 50%;
    width: 150px;
}

.author-data ul {
    list-style-type: none;
}

.author-menuitem {
    border-bottom: 1px solid var(--white);
    padding: 0.80em 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a .author-menuitem {
    color: var(--white);
}

a:hover .author-menuitem {
    background-color: var(--white);
    color: var(--orange);
}

a:active .author-menuitem {
    background-color: var(--white);
    color: var(--orange);
}

a .author-menuitemvisible {
    background-color: var(--white);
    color: var(--orange);
    text-decoration: none;
}

/* INFO CSS */
.author-content {
    margin: 0px 32px 0px 32px;
}

.author-section {    
    border-bottom: 8px solid var(--lightgray);
    border-radius: 25px;
    padding-bottom: 24px;
}

.author-section h2 {
    color: var(--orange);
    font-size: 2.5em;
}

.author-subsection h3{
    color: var(--darkgray);
    font-weight: bolder;
    margin-bottom: 0px;
}

.author-subsection-title, .author-subsection-institution{
    font-weight: bolder;
}

.author-subsection-authors {
    font-style: italic;
}

.author-subsection-activities, .author-subsection-university, .author-subsection-dissertation, .author-subsection-description, .author-subsection-skills, .author-subsection-technologies, .author-subsection-code, .author-subsection-place, .author-subsection-note, .author-subsection-year {
    font-size: small;
}