/* Bar */
.bar {
    border-bottom: solid 1px gray;
    display: table;  
    width: 100%;
}

.barBlock {
    display: table-cell;
    height: auto;
    overflow: hidden;
}

.barLogo {
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.logo {
    height: 48px;
    width: 48px;
}

.barMenu {
    font-family: Segoe UI;
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    width: 70%;
}

.menu {
    border-bottom: solid 8px transparent;
    display: inline-block;
    width: 100%;
}

.menuName {
    font-size: 20px;
    font-weight: bolder;
}

.menuMail {
    font-size: 10px;
}

.menuItem {
    background-color: black;
    border-style: solid;
    border-color: white;
    color: lightgray;    
    display: inline-block;
    width: 30%;
}

.menuItem a:visited {
    color: white;
}

.searchBar input{
    border: 2px solid darkgray;
    color: darkgray;
    font-family: Segoe UI;
    font-weight: bolder;    
    margin-bottom: 8px;
    width: 90%;
}

.searchTable {
    background: white;
    box-shadow: 2px 2px darkgray;
    font-size: 12px;
    margin-left: 12px;
    position: absolute;
    width: 65%;
    z-index: 2;    
}

.searchMatch {
    border-bottom: 1px solid darkgray;
}

.searchMatch:last-child {
    border-bottom: none;
}

.barLogout {
    background: gray;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    vertical-align: middle;
    width: 10%;
}

.barLogout a:visited {
    color: white;    
}
